<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <%- include('./includes/headTag') %>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <%- include('./includes/banner') %>
      <div></div>
      <%- include('./content/detail/popular') %>
      <div></div>
      <%- include('./content/detail/tab') %>
      <div></div>
      <%- include('./includes/footer') %>
    </div>

    <%- include('./includes/scripts') %>
  </body>
</html>
