<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <%- include('./includes/headTag') %>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <%- include('./includes/banner') %>

      <!-- booking -->
      <div class="booking" id="booking">
        <div class="container">
          <div class="agileits-heading wthree-heading">
            <h2>Giá trị cốt lõi</h2>
            <p>Vholic Travel</p>
          </div>
          <div class="book-reservation text-center">
            <p>
              Xây dựng sự tin cậy của đối tác, khách hàng bằng hoạt động hiệu
              quả và chất lượng.
            </p>
            <p>
              Môi trường làm việc thân thiện, kích thích sự sáng tạo, kết nối
              với giữa người với người, cơ hội thăng tiến cao và chú trọng vào
              lợi ích nhân viên.
            </p>
            <p>
              Xây dựng thói quen doanh nghiệp cho nhân viên với ý thức giữ gìn
              thương hiệu, văn hóa công ty, tận tụy với công việc và khách hàng.
            </p>

            <p>Đảm bảo doanh nghiệp phát triển bền vững.</p>
          </div>
        </div>
      </div>
      <!-- //booking -->
      <!-- popular -->
      <div class="popular" id="destinations">
        <div class="container">
          <div class="agileits-heading">
            <h2>Địa điểm nổi bật</h2>
            <p>Vholic Travel</p>
          </div>
          <div class="agileinfo-popular-grids">
            <div class="col-md-3 agileinfo-popular-grid">
              <img
                src="https://wiki-travel.com.vn/Uploads/Picture/hieuhieu-194319114346-cho-ben-thanh.png"
                alt=""
                height="350"
              />
              <h4>Bến Thành</h4>
            </div>
            <div class="col-md-3 agileinfo-popular-grid">
              <img
                src="https://lh3.googleusercontent.com/proxy/tf0sM92SFOZY1WnL3eXRGqElzrwo8wlXH6ePkWOU3tpVTAhvI33ENuD31htZOiUF2FHvOt3WOcsC52rm3Yy_qwJzqGvNZtUb0ylrwmbtWZR7M_sJkGVnyxN-j9cURD8vq-8kyYSwng"
                alt=""
                height="350"
              />
              <h4>Cầu ánh sao</h4>
            </div>
            <div class="col-md-3 agileinfo-popular-grid">
              <img
                src="https://luhanhvietnam.com.vn/du-lich/vnt_upload/news/05_2020/vui-choi-cong-vien-nuoc-dam-sen_5.jpg"
                alt=""
                height="350"
              />
              <h4>Đầm sen</h4>
            </div>
            <div class="col-md-3 agileinfo-popular-grid">
              <img
                src="https://fastly.4sqi.net/img/general/600x600/6335201_yAVUackkKvxAEznHNCbt0HdRRYH2JL_js__97sR_tQs.jpg"
                alt=""
                height="350"
              />
              <h4>Suối tiên</h4>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- //popular -->
      <!-- choose -->
      <div class="choose" id="about">
        <div class="container">
          <div class="agileits-heading wthree-heading">
            <h3>Tại sao chọn chúng tôi?</h3>
            <p>Vholic Travel</p>
          </div>
          <div class="wthree-choose-grids">
            <div class="col-md-4 wthree-choose-grid">
              <i class="fa fa-map" aria-hidden="true"></i>
              <h5>Sứ mệnh</h5>
              <p>Nâng tầm trải nghiệm của khách hàng</p>
            </div>
            <div class="col-md-4 wthree-choose-grid">
              <i class="fa fa-ship" aria-hidden="true"></i>
              <h5>Khát vọng</h5>
              <p>
                Vươn ra thế giới, trở thành một chuỗi thương hiệu lớn về du lịch
                và cung cấp dịch vụ du lịch.
              </p>
            </div>
            <div class="col-md-4 wthree-choose-grid">
              <i class="fa fa-train" aria-hidden="true"></i>
              <h5>Giá trị cốt lõi</h5>
              <p>
                Xây dựng sự tin cậy của đối tác, khách hàng bằng hoạt động hiệu
                quả và chất lượng ...
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- //choose -->
      <!-- gallery -->
      <div class="gallery" id="gallery">
        <div class="container">
          <div class="agileits-heading">
            <h3>Thư viện ảnh</h3>
            <p>Vholic Travel</p>
          </div>
          <div class="w3-agileits-gallery-grids">
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/1.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/1.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/2.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/2.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/4.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/4.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/5.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/5.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/7.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/7.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/8.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/8.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/9.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/9.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/1.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/1.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/2.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/2.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/4.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/4.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/5.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/5.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a
                    class="example-image-link"
                    href="/static/images/7.jpg"
                    data-lightbox="example-set"
                    data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque."
                  >
                    <img src="/static/images/7.jpg" alt="" />
                    <figcaption></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="clearfix"></div>
            <script src="/static/js/lightbox-plus-jquery.min.js"></script>
          </div>
        </div>
      </div>
      <!-- //gallery -->
      <!-- offer -->
      <div class="jarallax offer">
        <div class="container">
          <div class="agile-offer-slide">
            <div class="slider">
              <div class="callbacks_container">
                <ul
                  class="rslides callbacks callbacks1"
                  id="slider3"
                  style="height: 100px"
                ></ul>
              </div>
              <div class="clearfix"></div>
              <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                  // Slideshow 4
                  $("#slider3").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                      $(".events").append("<li>before event fired.</li>");
                    },
                    after: function () {
                      $(".events").append("<li>after event fired.</li>");
                    },
                  });
                });
              </script>
              <!--banner Slider starts Here-->
            </div>
          </div>
        </div>
      </div>
      <!-- //offer -->
      <!-- special -->
      <div class="special" id="offers">
        <div class="container">
          <div class="agileits-heading">
            <h3>Danh sách Tours</h3>
            <p>Vholic Travel</p>
          </div>
          <div class="agileits-special-grids">
            <div id="owl-demo" class="owl-carousel owl-theme">
              <% tours.forEach(function(tour, i){ %> <% let classBg = `bg_${i
              +1}` %>
              <div class="item">
                <div class="special-info <%= classBg %>">
                  <div class="special-info-top">
                    <div class="special-star">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>
                      <a href="/detail/<%= tour.id %>" style="color: #fff"
                        ><%= tour.name %></a
                      >
                    </h4>
                  </div>
                  <div class="special-info-bottom">
                    <ul>
                      <li>65 <span>Hotels</span></li>
                      <li>24 <span>Cities</span></li>
                      <li>45 <span>Tours</span></li>
                    </ul>
                    <p style="font-size: 20px; background-color: #00000085">
                      <%= tour.price %>k/người
                    </p>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
      <!-- //special -->
      <!-- discount -->
      <div class="discount jarallax">
        <div class="container">
          <div class="discount-top">
            <h4>
              Chương trình khuyến mãi đặc biệt
              <span>cơ hội nhận giảm giá đến 65%</span>
            </h4>
            <div class="agileits-border"></div>
            <h6>Thời gian áp dụng có hạn!</h6>
          </div>
          <!--timer-->
          <div class="agileits-timer">
            <div class="clock">
              <div class="column days">
                <div class="timer" id="days"></div>
                <div class="text">NGÀY</div>
              </div>
              <div class="timer days"></div>
              <div class="column">
                <div class="timer" id="hours"></div>
                <div class="text">GIỜ</div>
              </div>
              <div class="timer"></div>
              <div class="column">
                <div class="timer" id="minutes"></div>
                <div class="text">PHÚT</div>
              </div>
              <div class="timer"></div>
              <div class="column">
                <div class="timer" id="seconds"></div>
                <div class="text">GIÂY</div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!--//timer-->
        </div>
      </div>
      <!-- //discount -->

      <!-- //subscribe -->
      <!-- contact -->
      <div class="contact" id="contact">
        <div class="container">
          <div class="agileits-heading">
            <h3>Liên hệ với chúng tôi</h3>
            <p>Vholic Travel</p>
          </div>
          <div class="agile-contact-grids">
            <div class="col-md-6 agile-contact-left">
              <div class="address-grid">
                <h4>Địa chỉ của chúng tôi</h4>
                <ul class="w3_address">
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>148 Trần
                    Quang Khải, Phường Tân Định, Quận 1, Thành Phố Hồ Chí Minh.
                  </li>
                  <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i
                    ><a href="mailto:vholictravel148@gmail.com"
                      >vholictravel148@gmail.com</a
                    >
                  </li>
                  <li>
                    <i class="fa fa-mobile" aria-hidden="true"></i>036 557 6259
                  </li>
                </ul>
              </div>
              <div class="contact-form">
                <h4>Liên hệ hỗ trợ</h4>
                <form action="#" method="post">
                  <div class="styled-input agile-styled-input-top">
                    <input type="text" name="Name" required="" />
                    <label>Họ tên</label>
                    <span></span>
                  </div>
                  <div class="styled-input">
                    <input type="text" name="Email" required="" />
                    <label>Email</label>
                    <span></span>
                  </div>
                  <div class="styled-input">
                    <input type="text" name="Subject" required="" />
                    <label>Tiêu đề</label>
                    <span></span>
                  </div>
                  <div class="styled-input">
                    <textarea name="Message" required=""></textarea>
                    <label>Nội dung cần tư vấn</label>
                    <span></span>
                  </div>
                  <input type="submit" value="Gửi" />
                </form>
              </div>
            </div>
            <div class="col-md-6 agile-contact-right">
              <div class="agileits-map">
                <h4>Địa chỉ cụ thể</h4>
              </div>
              <div class="map-grid">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2530221592456!2d106.6887809141166!3d10.79192296186008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ccfdf6da15%3A0x6e73e95a55749f58!2zMTQ4IFRy4bqnbiBRdWFuZyBLaOG6o2ksIFTDom4gxJDhu4tuaCwgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1623745221765!5m2!1sen!2s"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                ></iframe>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- //contact -->
      <%- include('./includes/footer') %>
    </div>

    <%- include('./includes/scripts') %>
  </body>
</html>
